:root {
    font-family: "DejaVu Sans", Roboto, Helvetica, sans-serif;
}

@font-face {
    font-family: "Bangers Regular";
    src: url('../../assets/fonts/Bangers-Regular.woff2')
}

* {
    box-sizing: border-box;
}

main {
    padding-bottom: 1.5em;
}

body {
    position: relative;
}

footer {
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
    font-size: 9px;
    background-color: #162467;
    padding: .5em;
    border-radius: 0 0 0 .75rem;
    color: #cfcfcf;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.board {
    /*noinspection CssOverwrittenProperties*/
    display: flex;
    flex-wrap: wrap;
    /*noinspection CssOverwrittenProperties*/
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    min-width: 300px;
    max-width: 100%;
}

.board .block {
    flex-basis: 33.3%;
    transition: opacity 1s;
    opacity: 1;
}

.board.disabled .block {
    opacity: .5;
    pointer-events: none;
}

.block {
    display: table;
    table-layout: fixed;
    border: 3px solid black;
}

.block .row {
    display: table-row;
}

.cell {
    color: #162467;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 2px solid grey;
    position: relative;
    transition: background .5s ease, box-shadow .25s ease;
    width: 1.75rem;
    height: 1.75rem;
    box-shadow: inset 0 0 0 0 grey;
}

@media (max-width: 960px) {
    .MuiInputBase-input {
        padding: 0 !important;
    }
}

@media (min-width: 800px) {
    .board {
        min-width: 24rem;
    }

    .cell {
        width: 2.5rem;
        height: 2.5rem;
    }

    .cell {
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .cell {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.cell .value {
    color: inherit;
    user-select: none;
}

.cell.fixed {
    background-color: #cfcfcf;
}

.cell.fixed .value {
    color: black;
    font-weight: bold;
    pointer-events: none;
    cursor: none;
}

.cell.invalid {
    color: red;
    font-weight: bold;
}

.cell.invalid input {
    font-weight: bold;
}

.cell.invalid.fixed {
    font-style: italic;
    cursor: not-allowed;
    background-color: #f0bf9f;
    box-shadow: inset 0 0 0 4px #ff2f2f;
}

.cell:focus-within {
    /*border-color: #3f51b5;*/
    box-shadow: inset 0 0 0 4px #3f51b5;
}

.cell.fixed:focus-within {
    box-shadow: inset 0 0 0 4px #3f51b5;
}

.cell.invalid:focus-within {
    box-shadow: inset 0 0 0 4px #30236d;
}

.cell.hint {
    background-color: #a2ffa2;
    box-shadow: inset 0 0 0 4px #37de95;
}

h1, h2, h3 {
    font-family: "Bangers Regular", "DejaVu Sans", Roboto, Helvetica, sans-serif;
    text-align: center; /* <3 90s */
}

.pulse {
    animation: ease .25s pulse-animation infinite;
}

@keyframes pulse-animation {
    0% {
        fill: #00ff93;
    }
    50% {
        fill: #3d8365;
    }
    0% {
        fill: #1a3c2e;
    }
}