:root {
    font-family: "DejaVu Sans", Roboto, Helvetica, sans-serif;
}
main {
    padding-bottom: 1.5em;
}
footer {
    position: fixed;
    bottom:0;
    text-align:right;
    right:0;
    font-size: .75rem;
    background-color: navy;
    padding: .5em;
    border-radius: .75rem 0 0 0;
    color: #cfcfcf;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.board {
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: flex-start;
    min-width: 24rem;
}
.block {
    display: table;
    table-layout: fixed;
    border: 3px solid black;
}
.block .row {
    display: table-row;
}
.cell {
    color: navy;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 2px solid grey;
    position: relative;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
@media (min-width: 1024px) {
    .cell {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.cell:focus-within {
    border-color: blue;
}
/*.cell .details {
    opacity: 0.5;
    color: lightslategray;
    transition: opacity .5s ease;
    position: absolute;
    bottom: 0;
    left:0;
    white-space: nowrap;
    font-size: .75em;
}
.cell:hover .details {
    opacity: 1;
}*/
.cell .value {
    color: inherit;
    user-select: none;
}
.cell.fixed {
    background-color: #cfcfcf;
}
.cell.fixed .value {
    color: black;
    font-weight: bold;
    pointer-events: none;
    cursor: none;
}
.cell.invalid {
    background-color: #ff2f2f;
    color: black;
    font-weight: bold;
}
.cell.invalid input {
    font-weight: bold;
}
.cell.invalid.fixed {
    font-style: italic;
    cursor: not-allowed;
    background-color: #f0bf9f;
    box-shadow: inset 0 0 0 4px #ff2f2f;
}
h1, h2 {
    text-align: center;
}