:root {
    font-family: "DejaVu Sans", Roboto, Helvetica, sans-serif;
}
main {
    padding-bottom: 1.5em;
}
footer {
    position: fixed;
    bottom:0;
    text-align:right;
    right:0;
    font-size: .75rem;
    background-color: navy;
    padding: .5em;
    border-radius: .75rem 0 0 0;
    color: #cfcfcf;
}
.board {
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: flex-start;
    grid-auto-flow: row dense;
}
.block {
    display: table;
    border: 3px solid black;
}
.block .row {
    display: table-row;
}
.cell {
    color: navy;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 2px solid grey;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
}
.cell:focus-within {
    border-color: blue;
}
/*.cell .details {
    opacity: 0.5;
    color: lightslategray;
    transition: opacity .5s ease;
    position: absolute;
    bottom: 0;
    left:0;
    white-space: nowrap;
    font-size: .75em;
}
.cell:hover .details {
    opacity: 1;
}*/
.cell .value {
    color: inherit;
    user-select: none;
}
.cell.fixed {
    background-color: #cfcfcf;
}
.cell.fixed .value {
    color: black;
    font-weight: bold;
    pointer-events: none;
    cursor: none;
}
.cell.invalid {
    background-color: #ff2f2f;
    color: black;
    font-style: italic;
}
.cell.invalid.fixed {
    cursor: not-allowed;
    background-color: #f0bf9f;
    box-shadow: inset 0 0 0 4px #ff2f2f;
}
h1, h2 {
    text-align: center;
}
.app-main {
    margin: auto;
    width: 100%;
    padding: 2rem;
}
@media (min-width: 1200px) {
    .app-main {
        max-width: 1024px;
    }
}
@media (min-width: 1920px) {
    .app-main {
        max-width: 1600px;
    }
}
@media (min-width: 1920px) {
    .app-main {
        max-width: 75vw;
    }
}
.app-view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.app-create {
    display: flex;
    padding: 1rem;
    align-items: flex-end;
}